@page
@model BancoProv_ssbaglia.Pages.Vistas.EditarModel
@{




    <div class="container">

        <div class="row" style="margin-bottom: 3rem;">
            <div class="col-sm-12">
                <h3><b>Editar Empleado</b></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <form method="post">
                    <div class="text-danger"> </div>
                    <div class="form-group">

                        <input type="hidden" asp-for="empleado.Id" />

                        <label class="control-label"> Nombre</label>
                        <input asp-for="@Model.empleado.Nombre" class="form-control" type="text">


                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        <input asp-for="@Model.empleado.Apellido" class="form-control" type="text">

                    </div>

                    <div class="form-group">
                        <label class="control-label">Codigo</label>
                        <input asp-for="@Model.empleado.Codigo" class="form-control" type="text">

                    </div>
                    <div class="form-group">
                        <label class="control-label"> Fecha Alta</label>
                        <input asp-for="@Model.empleado.FechaAlta" class="form-control" readonly>
                    </div>

                    <div class="form-group">

                        <select class="controls" asp-for="@Model.tiposDocumento.Id" value="@Model.empleado.IdTipoDto">

                            <option value="1">
                                Dni
                            </option>
                            <option value="2">
                                Pasaporte
                            </option>

                        </select>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Numero Documento</label>
                        <input asp-for="@Model.empleado.NumDocumento" class="form-control" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                    </div>

                    <div class=" form-group">
                        <input class="buttons btn-primary  btn-sm" style=" margin-bottom: 10rem;" type="submit" asp-page-handler="EditarEmpleado" value="Editar Empleado">
                    </div>

                    @Html.ValidationMessageFor(Model => Model.ErrorMessage, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(Model => Model.MensajeOk, "", new { @class = "text-primary" })

                    <div class="col-md-6 text-right" style="margin-left: 29rem;">
                        <a class="btn btn-primary" href="/Vistas/HomeEmpleados">Volver</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
}
